pluginsib.arxiu.filesystem.base.path=/opt/app-data/arxiu/filesystem
pluginsib.arxiu.filesystem.organ.codi.dir3=A04013511

#pluginsib.arxiu.filesystem.original_file_url_EL=http://localhost:28080/filesystemweb/original/uuid/${uuid}

#pluginsib.arxiu.filesystem.printable_file_url_EL=http://localhost:28080filesystemweb/printable/uuid/${uuid}

#pluginsib.arxiu.filesystem.eni_file_url_EL=http://localhost:28080/filesystemweb/eni/uuid/${uuid}

#pluginsib.arxiu.filesystem.csv_validation_web_EL=http://localhost:28080/filesystemweb/

#pluginsib.arxiu.filesystem.csv_generation_definition=http://localhost:28080/filesystemweb/csv_generation_definition.pdf

#pluginsib.arxiu.filesystem.validation_file_url_EL=http://localhost:28080/concsv/web/validationfile/${uuid}
