/api/.classpath
/api/.project
/caib/.classpath
/filesystem/.classpath
/api/.settings
/caib/.project
/caib/.settings
/filesystem/.project
/filesystem/.settings
/api/target
/caib/target
/filesystem/target
/.project
/target
/.idea
*.iml
/.settings
/caib/plugin.properties
/filesystem/plugin.properties
