pluginsib.arxiu.caib.base.url=https://afirmades.caib.es:4430/esb
#pluginsib.arxiu.caib.base.url=https://esbpre.caib.es/esb
pluginsib.arxiu.caib.aplicacio.codi=ARXIUTEST
pluginsib.arxiu.caib.usuari=USERNAME
pluginsib.arxiu.caib.contrasenya=PASSWD
pluginsib.arxiu.caib.conversio.imprimible.url=http://localhost:28080/concsv/rest/printable/uuid
#pluginsib.arxiu.caib.conversio.imprimible.url=https://proves.caib.es/concsv/rest/printable/uuid
pluginsib.arxiu.caib.conversio.imprimible.usuari=USUARI
pluginsib.arxiu.caib.conversio.imprimible.contrasenya=PASSWD

# Si val true imprimeix el contingut de l'enviament i resposta json
# Per defecte false
# pluginsib.arxiu.caib.debug=false

#pluginsib.arxiu.caib.original_file_url_EL=http://localhost:28080/concsv/rest/original/uuid/${uuid}

#pluginsib.arxiu.caib.printable_file_url_EL=http://localhost:28080/concsv/rest/printable/uuid/${uuid}

#pluginsib.arxiu.caib.eni_file_url_EL=http://localhost:28080/concsv/rest/eni/uuid/${uuid}

#pluginsib.arxiu.caib.csv_validation_web_EL=http://localhost:28080/concsv/

#pluginsib.arxiu.caib.csv.definicio=http://localhost:28080/concsv/csv_generation_definition.pdf

#pluginsib.arxiu.caib.validation_file_url_EL=http://localhost:28080/concsv/web/validationfile/${uuid}
